<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<form action="/update" method="post" accept-charset="utf-8">
	<input type="text" name="content"/>
</form>
<% todos.forEach(function(todo){ %>
<p>
	<span>
		<% if(todo._id == current){ %>
		<form action="/update/<%= todo._id%>" method="post" accept-charset="utf-8">
			<input type="text" name="content" value="<%= todo.content%>"/>
		</form>
		</span>
	<% } else { %>
	<a href="/edit/<%= todo._id%>">
		<%= todo.content%>
	</a>
	<span>
		<a href="/delete/<%= todo._id %>" title="Delete this todo item">Delete</a>
	</span>
	<% } %>

</p>
<% }); %>
</body>
</html>
